[submodule ".registry"]
	path = .registry
	url = https://github.com/andreasancheztapia/universe
	branch = HEAD
[submodule "kuenm"]
	path = kuenm
	url = https://github.com/marlonecobos/kuenm
	registered = false
[submodule "modleR"]
	path = modleR
	url = https://github.com/Model-R/modleR
